#!/bin/bash

OR1K_TOOLCHAIN_WORKSPACE="${HOME}/work/gnu-toolchain"

OR1K_GCC_URL="https://mirrors.aliyun.com/gnu/gcc/gcc-14.2.0/gcc-14.2.0.tar.gz"
OR1K_BINUTILS_GDB_URL="https://github.com/bminor/binutils-gdb.git"
OR1K_NEWLIB_URL="ftp://sourceware.org/pub/newlib/newlib-4.5.0.20241231.tar.gz"

THREADS=$(( $(nproc --all) - 4 ))
INSTALLDIR=${INSTALLDIR:-$OR1K_TOOLCHAIN_WORKSPACE/local}
CROSS=${CROSS:-or1k-elf}
